<br>
<br>
<div class="ui container">
  <div class="ui raised very padded text container segment">

    <div class="ui container">
      <img class="ui centered small image" src="../../assets/img/give_logo_circle.png">
    </div>

    <br>
    <br>

    <div class="ui container">
      <div class="ui transparent input">
        <input type="email" placeholder="Email">
      </div>
    </div>

    <br>
    <br>

    <div class="ui container">
      <div class="ui transparent input">
        <input type="password" placeholder="Password">
      </div>
    </div>

    <br>
    <br>

    <div class="ui three column doubling grid container">
      <div class="column">
          <button class="ui right floated blue button">Login</button>
      </div>
      <div class="column">
          <a class="ui green button" [routerLink]="['/register']">Register</a>
      </div>
    </div>

  </div>
</div>

<!-- <h3 class="ui center aligned header">Doubling Grid Container</h3> -->

<!--
<br>
<br>


<h1 class="ui center aligned header">Responsive UI Examples</h1>


<h2 class="ui center aligned header">Basic Responsive</h2>


<h3 class="ui center aligned header">Container</h3>
<div class="ui container">
  <div class="ui segments">
    <div class="ui segment">Content</div>
    <div class="ui segment">Content</div>
    <div class="ui segment">Content</div>
    <div class="ui segment">Content</div>
  </div>
</div>
<h3 class="ui center aligned header">Text Container</h3>
<div class="ui text container">
  <div class="ui segments">
    <div class="ui segment">Content</div>
    <div class="ui segment">Content</div>
    <div class="ui segment">Content</div>
    <div class="ui segment">Content</div>
  </div>
</div>

<h3 class="ui center aligned header">Stackable Grid</h3>
<div class="ui two column stackable grid">
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="three column row">
    <div class="column">
      <div class="ui segment">Content</div>
    </div>
    <div class="column">
      <div class="ui segment">Content</div>
    </div>
    <div class="column">
      <div class="ui segment">Content</div>
    </div>
  </div>
  <div class="ten wide column">
    <div class="ui segment">Content</div>
  </div>
  <div class="six wide column">
    <div class="ui segment">Content</div>
  </div>
</div>


<h3 class="ui center aligned header">Doubling Grid</h3>
<div class="ui three column doubling grid">
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
</div>

<h3 class="ui center aligned header">Doubling Stackable Grid</h3>
<div class="ui three column doubling stackable grid">
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
</div>

<h3 class="ui center aligned header">Nested Stackable Grid</h3>
<div class="ui two column grid">
  <div class="column">
    <div class="ui stackable doubling two column grid">
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui stackable doubling three column grid">
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
      <div class="column">
        <div class="ui segment">Content</div>
      </div>
    </div>
  </div>
</div>


<h3 class="ui center aligned header">Stackable Grid Container</h3>
<div class="ui two column stackable grid container">
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
</div>


<h3 class="ui center aligned header">Doubling Grid Container</h3>
<div class="ui three column doubling grid container">
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
</div>

<h3 class="ui center aligned header">Doubling Stackable Grid Container</h3>
<div class="ui three column doubling stackable grid container">
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
</div> -->
