<br>
<br>

<div class="ui container">
  <div class="ui raised very padded text container segment">

    <div class="ui container">
      <img class="ui centered small image" src="../../assets/img/Give_logo_2020_2.png">
    </div>

    <br>
    <br>

    <div class="ui container">
      <h3 class="ui center aligned header">Welcome to give</h3>
    </div>

    <br>
    <br>

    <form [formGroup]="loginForm" class="ui form" (ngSubmit)="onLogin()">

      <div class="ui center aligned container">
        <div class="ui transparent input">
          <input type="email" name="email" placeholder="Email.." formControlName="email">
        </div>
      </div>
      <br>
      <br>

      <div class="ui center aligned container">
        <div class="ui transparent input">
          <input type="password" name="password" placeholder="Password.." formControlName="password">
        </div>
      </div>
      <br>
      <br>

      <div class="ui center aligned container">
        <div class="ui buttons">
          <button type="submit" class="ui button purple">Login</button>
          <div class="or"></div>
          <a class="ui button violet" [routerLink]="['/register']">Join us</a>
        </div>
      </div>
      <br>
      <br>

      <div class="ui center aligned container">
        <button class="ui purple basic button" [routerLink]="['/forgot-password']">Forgot password?</button>
      </div>
      <!-- <br>
      <br>
      <div class="ui center aligned container">
        <button class="ui red button" (click)="onGoogleLogin()">
          <i class="google icon"></i>
          Login with Google
        </button>
      </div> -->

    </form>
  </div>
</div>
<br>
<br>