<br>
<br>
<div class="ui container">
  <div class="ui raised very padded text container segment">

    <div class="ui container">
      <img class="ui centered small image" src="../../assets/img/give_logo_circle.png">
    </div>

    <br>
    <br>

    <div class="ui three column doubling grid container">
      <div class="column">
          <a class="ui right floated blue button" [routerLink]="['/']">Login</a>
      </div>
      <div class="column">
          <a class="ui green button" [routerLink]="['/register']">Register</a>
      </div>
    </div>

  </div>
</div>
