<br>
<br>
<div class="ui container">
  <div class="ui raised very padded text container segment">

    <div class="ui container">
      <img class="ui centered small image" src="../../assets/img/Give_logo_2020_2.png">
    </div>

    <br>

<br>
    <div class="ui container">
      <h3 class="ui center aligned header">Register</h3>
    </div>
<br>
  <br>


    <div class="ui six column doubling grid container">
      <div class="column">
      </div>
      <div class="column">
      </div>
      <div class="column">
          <button class="ui right floated pink button" [routerLink]="['/login']">Login</button>
      </div>
      <div class="column">
          <a class="ui black button" [routerLink]="['/home']">Home</a>
      </div>
    </div>

  </div>
</div>
