<div class="ui inverted segment">
  <div class="ui inverted secondary menu">
    <a class="active item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <a class="item">
      Friends
    </a>
  </div>
</div>

<div class="ui four column doubling stackable grid container">
  <div class="column">
    <h1>{{ titulo }}</h1>
  </div>
  <div class="column">
    <h3>I'm fucking here</h3>
  </div>
  <div class="column">
    <p>Tengo {{ age }} años</p>
  </div>
  <div class="column">
    <p>Hola ke ase</p>
  </div>
</div>
