<br>
<br>

<div class="ui container">
  <div class="ui raised very padded text container segment">

    <div class="ui container">
      <img class="ui centered small image" src="../../assets/img/Give_logo_2020_2.png">
    </div>

    <br>
    <br>

    <div class="ui container">
      <h3 class="ui center aligned header">Enter your email</h3>
    </div>

    <br>
    <br>

    <form [formGroup]="recoveryForm" class="ui form" (ngSubmit)="onRecovery()">

      <div class="ui center aligned container">
        <div class="ui transparent input">
          <input type="email" name="email" placeholder="Email.." formControlName="email">
        </div>
      </div>
      <br>
      <br>

      <div class="ui center aligned container">
        <button type="submit" class="ui purple basic button">Send recovery email</button>
      </div>
      <br>
      <br>
      <div class="ui center aligned container">
        <button type="submit" class="ui red basic button" [routerLink]="['/login']">Exit</button>
      </div>
    </form>
  </div>
</div>
<br>
<br>