<br>
<br>
<!-- <div class="ui container">

  <div class="ui raised very padded text container segment">
    <div class="ui menu">
      <div class="item">One</div>
      <div class="item">Two</div>
    </div>
  </div>

</div>

<br> -->

<div class="ui container">
  <div class="ui raised very padded text container segment">
    <div class="ui menu">
      <!-- <div class="item">One</div> -->
      <div class="item">
        <b [routerLink]="['/register']">Register</b>
      </div>
      <div class="item right floated"><i class="right floated cogs icon"></i></div>
      <!-- <div class="item right floated">Fourth</div> -->
    </div>
    <br>
    <br>
    <div class="ui container">
      <h3 class="ui center aligned header">Home</h3>
    </div>
    <br>
    <br>

    <div class="ui six column doubling grid container">
      <div class="column">
      </div>
      <div class="column">
      </div>
      <div class="column">
        <button class="ui right floated purple button" [routerLink]="['/login']">Login</button>
      </div>
      <div class="column">
        <a class="ui olive button" [routerLink]="['/register']">Register</a>
      </div>
    </div>

  </div>
</div>